In [5]:
import pandas as pd
import numpy as np

### 1.Find the most expensive car company name

In [3]:
df=pd.read_csv(r'C:\Users\Laksh\Documents\Assignments\auto_temp.csv')

In [6]:
df

,Unnamed: 0,symboling,normalized_losses,make,fuel_type,aspiration,num_doors,body_style,drive_wheels,engine_location,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,3,2,164.0,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,4,2,164.0,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [20]:
highestprice = max(df['price'])
e
df['make'].value_counts()
toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64
3. Find each company’s highest price car
ufacturers['make','price'].max()
priceDf
car_Manufacturers = df.groupby('make')
​
priceDf = car_Manufacturers['make','price'].max()
priceDf
C:\Users\Laksh\AppData\Local\Temp/ipykernel_16944/4177715369.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  priceDf = car_Manufacturers['make','price'].max()
make	price
make		
alfa-romero	alfa-romero	16500.0
audi	audi	23875.0
bmw	bmw	41315.0
chevrolet	chevrolet	6575.0
dodge	dodge	12964.0
honda	honda	12945.0
isuzu	isuzu	11048.0
jaguar	jaguar	36000.0
mazda	mazda	18344.0
mercedes-benz	mercedes-benz	45400.0
mercury	mercury	16503.0
mitsubishi	mitsubishi	14869.0
nissan	nissan	19699.0
peugot	peugot	18150.0
plymouth	plymouth	12764.0
porsche	porsche	37028.0
renault	renault	9895.0
saab	saab	18620.0
subaru	subaru	11694.0
toyota	toyota	17669.0
volkswagen	volkswagen	13845.
highestprice
most_expensive_car = df[df['price'] == highestprice]['make'].to_string(index=False).strip()
most_expensive_car

'mercedes-benz'

### 2. Count total cars per company

In [22]:
df['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
volkswagen       12
subaru           12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
jaguar            3
chevrolet         3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

### 3. Find each company’s highest price car

In [44]:


priceDf = df.groupby('make')['price'].max()
priceDf

make
alfa-romero      16500.0
audi             23875.0
bmw              41315.0
chevrolet         6575.0
dodge            12964.0
honda            12945.0
isuzu            11048.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mercury          16503.0
mitsubishi       14869.0
nissan           19699.0
peugot           18150.0
plymouth         12764.0
porsche          37028.0
renault           9895.0
saab             18620.0
subaru           11694.0
toyota           17669.0
volkswagen       13845.0
volvo            22625.0
Name: price, dtype: float64

### 4.Sort all cars by Price column

In [45]:

priceDf.sort_values(ascending = False)

make
mercedes-benz    45400.0
bmw              41315.0
porsche          37028.0
jaguar           36000.0
audi             23875.0
volvo            22625.0
nissan           19699.0
saab             18620.0
mazda            18344.0
peugot           18150.0
toyota           17669.0
mercury          16503.0
alfa-romero      16500.0
mitsubishi       14869.0
volkswagen       13845.0
dodge            12964.0
honda            12945.0
plymouth         12764.0
subaru           11694.0
isuzu            11048.0
renault           9895.0
chevrolet         6575.0
Name: price, dtype: float64

### 5. Group by make, fuel-type and body-style to calculate the average of city-mpg and highway-mpg (miles per gallon)

In [31]:
print(df.groupby(['make','fuel_type','body_style']).agg({'city_mpg': ['mean'], 'highway_mpg' : ['mean']}))

                                    city_mpg highway_mpg
                                        mean        mean
make        fuel_type body_style
alfa-romero gas       convertible  21.000000   27.000000
                      hatchback    19.000000   26.000000
audi        gas       hatchback    16.000000   22.000000
                      sedan        19.400000   24.400000
                      wagon        19.000000   25.000000
...                                      ...         ...
volkswagen  gas       sedan        25.200000   31.600000
                      wagon        25.000000   31.000000
volvo       diesel    sedan        26.000000   27.000000
            gas       sedan        20.428571   25.571429
                      wagon        21.333333   26.000000

[66 rows x 2 columns]